

body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSreSi6JorKmLRhx85ic3ca4glBG7qac8b1v2WKaUtid8jL57XAqA);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
  ul.topnav li.right,
  ul.topnav li {float: none;}
}

h1 {
  display: inline-flex;
  color: white;
  text-shadow: 1px 1px 20px #333;
  transition: transform 2s;
}

h1:hover {
  transform: rotateY(360deg);
}

.content {
  margin-left: 10px;
}

form {
  width:
}

span.inputLabel {
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  color: #333;
  width: 15%;
  min-width: 87px;
}

input {
  margin: 10px 0px 10px 0px;
  border-radius: 10px;
  text-align: center;
  background-: opacity(0.7);
  background-attachment: fixed;
  box-shadow: 1px 1px 20px #4CAF50;
}

button {
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 20px #fff;
}
